/* Fuerza el borde verde en el botón principal al abrir el dropdown */
.force-green-border[data-open="true"] {
  border-color: #0b9b3a !important;
}

.header-language-selector {
  display: flex;
}

.header-navbar-desktop, .header-navbar-mobile {
  display: none !important;
}